<!doctype html>
<html ng-app="author" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />

    <title>TIPS Author</title>
    <meta name="description" content="">
    <meta name="author" content="SurfLab">
    <!--<link rel="shortcut icon" href="favicon.ico">-->

    <!-- Rest of the libraries from cdnjs.com -->
    <script defer src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.2.7/css/fileinput.min.css">
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script defer src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.2.7/js/fileinput.min.js'></script>
    <script defer src='//cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.5.6/jquery.smooth-scroll.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-route.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <!-- Bootstrap stuff from bootstrapcdn.com -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css" rel="stylesheet" >

    <link rel="stylesheet" href="assets/main.css">
    <link rel="stylesheet" href="assets/spinner.css">
    <script defer src='/assets/author-app.js'></script>
</head>
<body>

  <div class="navbar navbar-default navbar-top">
     <div class="container">
         <div class="navbar-header">
             <a class="navbar-brand" ng-if="!activeUser.isAdmin && !activeUser.isArtist && !activeUser.isAuthor" href="#/train">TIPS Author</a>
             <a class="navbar-brand" ng-if="activeUser.isAdmin || activeUser.isArtist || activeUser.isAuthor" href="#/procedures">TIPS Author</a>
             <!-- <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button> -->
         </div>

         <ul class="nav navbar-nav navbar-left">
             <li ng-if="!activeUser.isAdmin && !activeUser.isArtist && !activeUser.isAuthor"><a href="#/train">Train</a></li>
             <li><a href="#/procedures">Procedures</a></li>
             <li><a href="#/organs">Organs</a></li>
             <li><a href="#/tools">Tools</a></li>
             <li><a href="#/quizzes">Quizzes</a></li>
             <li><a href="#/faqs">FAQs</a></li>
             <li ng-if="activeUser.isAdmin"><a href="#/users">Users</a></li>
         </ul>

         <div class="navbar-collapse collapse" id="navbar-main">
             <div ng-controller="AuthBox" ng-cloak>
                 <ul class="nav navbar-nav navbar-right" ng-switch="loggedin">
                  <li ng-switch-when="false">
                  <a href="{{activeUser.login}}">Login</a>
                  </li>

                  <li class="dropdown" ng-switch-when="true" uib-dropdown on-toggle="toggled(open)">
                  <a href class="dropdown-toggle userbox"  uib-dropdown-toggle>{{activeUser.name}}
                    <span ng-if="activeUser.isAdmin">  (<font class="color-admin">Administrator</font>) </span>
                    <span ng-if="!activeUser.isAdmin">
                      <span ng-if="activeUser.isArtist && activeUser.isAuthor"> (<font class="color-author">Author</font>/<font class="color-artist">Artist</font>) </span>
                    </span>
                    <span ng-if="!activeUser.isAdmin">
                      <span ng-if="!(activeUser.isArtist && activeUser.isAuthor)">
                        <span ng-if="activeUser.isArtist"> (<font class="color-artist">Artist</font>) </span>
                        <span ng-if="activeUser.isAuthor"> (<font class="color-author">Author</font>) </span>
                      </span>
                    </span>
                    <span ng-if="!activeUser.isAdmin && !activeUser.isArtist && !activeUser.isAuthor">
                      (<font class="color-spect">Trainee</font>) </span>
                    <span class="caret"></span>
                  </a>
                  <ul class="uib-dropdown-menu">
                    <li><a href="{{activeUser.logout}}">Logout</a></li>
                  </ul>
                  </li>
                </ul>
             </div>
         </div>
     </div>
  </div>

   <div class="container">
      <div id="loading" >
      <div class='h1 text-center'>
        <div class="spinner spinning"></div>
      </div>
      </div>
      <div id="alert-container">
       </div>
      <div ng-view>
      </div>
   </div>

   <script src="assets/fx.js"></script>
   <script src="assets/readfile.js"></script>



   <!-- <script id="new-addable-template" type="text/x-handlebars-template">
      <div class='container-fluid'>
         <h2>Create {{ addable }}</h2>

         <form action='#' method='POST' enctype='multipart/form-data'>
            <div class='form-group'>
              <label for="name">Name of the model</label>
              <input name="name" class="form-control" type="text" size=80>
            </div>
            <div class='form-group'>
              <label for="file">XML or ZIP file of the model</label>
              <input name="file" type="file">
            </div>
            <div class='form-group'>
              <label for="verbs">Comma-separated list of supported verbs:</label>
              <input type='text' class="form-control" name='verbs' size=80>
            </div>
            <input type='submit' value='Upload {{ addable }}' class='action-upload-addable btn btn-primary'>
         </form>
      </div>
   </script> -->

</body>
</html>
