<div class="modal-header">
    <h3 class="modal-title">Comments</h3>
</div>
<div class="modal-body">
    <div class="form-group">
      <label class="control-label input-md">
            Add Comments here:
      </label>
      <input class="form-control input-lg" type="text" name="comments" placeholder="anything you want to help us improve?" ng-model="newComments" ng-model-options="{ getterSetter: true }">
      <br />
	</div>

</div>
<div class="modal-footer">
    <!-- <button class="btn btn-primary" type="button" ng-click="add()" >Add</button> -->
    <button class="btn btn-default" type="button" ng-click="add(); close()">Submit</button>
</div>
