<div class="input-group">
  <input id="input-id" type="file" class="file" bootstrap-fileinput file-data="data" upload-url="uploadUrl" ng-disabled="isDisabled">
  <span class="input-group-btn" ng-if="data">
      <a class="btn btn-default" type="button" ng-href="{{downloadUrl}}" target='_blank'>
        <i class="glyphicon glyphicon-download-alt"></i>&nbsp; Download
      </a>
  </span>
</div>
<div id="errorBlock" class="help-block"></div>  <!--  for displaying error messages below input field  -->
