<div class="modal-header">
    <h3 class="modal-title">Delete</h3>
</div>
<div class="modal-body">
    Do you want to delete <b>{{ item }}</b>?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="ok()">Delete</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">Don't Delete</button>
</div>
