
<div class="row">
  <h2>
      FAQs
  </h2>
</div>

<div class="row">
  <h5>
      1. Where I can find step by step instructions for the scene creation?
  </h5>
  <h6>
      You can view a demo scene being created step-by-step <a target="_blank" href=" https://drive.google.com/open?id=1bzJwFjH68hDK9Stpk68b9X53CkXDgULA">here</a>.
     
     <!--  https://www.youtube.com/watch?v=qcwtem_sodM -->
  </h6>
</div>

<div class="row">
  <h5>
      2. How I can upload and use my organ/tool model?
  </h5>
  <h6>
      The easiest way is to use our Blender plugin <a target="_blank" href="https://bitbucket.org/surflab/blender2sofa">Blender2Sofa</a>, you can view a demo of it <a target="_blank" href="https://www.youtube.com/watch?v=LSszJ8AzXio">here</a>.
  </h6>
</div>

<div class="row">
  <h5>
      3. Do I have to have a Gmail account to use TIPS-Author?
  </h5>
  <h6>
      Yes, this helps keep your TIPS-Author account secure.
  </h6>
</div>
