<div class="row">
  <div class="h2 col-md-2">
    {{Model}}s
  </div>
</div>

<div class='pull-right input-lg ' ng-if="isEditable">
 <a class="icon-action" data-toggle="tooltip" data-placement="top"
    href="{{viewURL}}new" title="Create {{Model}}">
    <i class="glyphicon glyphicon-plus"></i> Create {{Model}}
 </a>
</div>

<div class='list-group' ng-if="!(Model=='User' && !isEditable)">
  <button class='list-group-item' ng-click="open(p.id)"  ng-repeat="p in list" >
    {{p.name}}
    &nbsp;&#8212;&nbsp;<i>{{p.author}}{{p.verbs}}
    <span ng-if="p.isAdmin">  <font class="color-admin">Administrator</font> </span>
    <span ng-if="!p.isAdmin">
      <span ng-if="p.isArtist && p.isAuthor"> <font class="color-author">Author</font>/<font class="color-artist">Artist</font> </span>
    </span>
    <span ng-if="!p.isAdmin">
      <span ng-if="!(p.isArtist && p.isAuthor)">
        <span ng-if="p.isArtist"> <font class="color-artist">Artist</font> </span>
        <span ng-if="p.isAuthor"> <font class="color-author">Author</font> </span>
      </span>
    </span>
    <span ng-if="Model=='User' && !p.isAdmin && !p.isArtist && !p.isAuthor"> <font class="color-spect">Spectator</font> </span>
    </i>
    <div ng-if="isEditable" class="pull-right">
      <span ng-if="p.name!='surflab.cise'">
       <a class='icon-action' ng-click="remove($event, p.id,p.name)"><span class='glyphicon glyphicon-remove'></span>&nbsp;</a>
      </span>
    </div>
  </button>
</div>
