<form name="form" auto-save-form="save()">
<div class="row">
  <h2>
      Organ {{organ.name}}
  </h2>
</div>
<div class="pull-right">
  <a class="icon-action input-lg" data-toggle="tooltip" data-placement="top" title="Save" ng-click="save()" ng-show="form.$dirty && form.$valid">
    <i class=" glyphicon glyphicon-floppy-disk" ng-class="{ 'icon-animate': form.saving }"></i>
  </a>
</div>
<div class="form-group {{form.name.$error.required ? 'has-error' : ''}}">
  <label for="name">Name of the model</label>
  <input type="text" class='form-control' name="name" ng-model="organ.name" placeholder="organ name" required="" ng-disabled="!isEditable"/>
</div>
<div class='form-group'>
  <label for="file">Data file</label>
  <input-data-file data="organ.data" download-url="'/api/data/organ/' + organ.id" upload-url="uploadUrl" refresh-upload-url="refreshUploadUrl()" is-disabled="!isEditable"></input-data-file>
</div> 
<div class="form-group {{form.verbs.$error.required ? 'has-error' : ''}}">
  <label for="verbs">Comma-separated list of supported verbs:</label>
  <input type="text" class='form-control' name="verbs" ng-model="organ.csvVerbs" ng-model-options="{ getterSetter: true }" placeholder="verbs" ng-disabled="!isEditable"/>
</div>
<div class="form-group">
  <label for="related_organs">Related Organs:</label>
  <ul class="list-group">
    <li class='list-group-item' ng-repeat='related in organ.related_organs'>
      {{related.name}}&nbsp;
      <div class="pull-right">
          <a ng-if="isEditable" class="icon-action" ng-click="removeRelated(organ,related.id); save();" >
            <i class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Remove the association"></i>
          </a>
      </div>
    </li>
  </ul>
  <div ng-if="isEditable" class="form-group row">
    <div class="col-md-11">
      <input class='form-control' name='organ' placeholder='Add related organ' ng-model="new_related" uib-typeahead="organ.name for organ in organs | filter:$viewValue | limitTo:8" typeahead-min-length="1">
    </div>
    <div class="col-md-1" style="text-align: right">
      <a class='task-action icon-action' title="add related organ" ng-click="addRelatedOrgan(organ,new_related); save(); new_related = ''"><i class='glyphicon glyphicon-plus'></i></a>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="connected-related_organs"> Connected Organs:</label>
  <ul class="list-group">
    <li class='list-group-item' ng-repeat='related in organ.connected_related_organs'>
      {{related.name}}&nbsp;
      <div class="pull-right">
          <a ng-if="isEditable" class="icon-action" ng-click="removeConnectedRelated(organ,related.id); save();" >
            <i class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Remove the association"></i>
          </a>
      </div>
    </li>
  </ul>
  <div ng-if="isEditable" class="form-group row">
    <div class="col-md-11">
      <input class='form-control' name='organ' placeholder='Add connected organ' ng-model="new_connected_related" uib-typeahead="organ.name for organ in organs | filter:$viewValue | limitTo:8" typeahead-min-length="1">
    </div>
    <div class="col-md-1" style="text-align: right">
      <a class='task-action icon-action' title="add connected related organ" ng-click="addConnectedRelatedOrgan(organ,new_connected_related); save(); new_connected_related = ''"><i class='glyphicon glyphicon-plus'></i></a>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="connected-related_organs"> Variant Organs:</label>
  <ul class="list-group">
    <li class='list-group-item' ng-repeat='related in organ.variant_organs'>
      {{related.name}}&nbsp;
      <div class="pull-right">
          <a ng-if="isEditable" class="icon-action" ng-click="removeVariant(organ,related.id); save();" >
            <i class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Remove the association"></i>
          </a>
      </div>
    </li>
  </ul>
  <div ng-if="isEditable" class="form-group row">
    <div class="col-md-11">
      <input class='form-control' name='organ' placeholder='Add Variant organ' ng-model="new_variant" uib-typeahead="organ.name for organ in organs | filter:$viewValue | limitTo:8" typeahead-min-length="1">
    </div>
    <div class="col-md-1" style="text-align: right">
      <a class='task-action icon-action' title="add variant related organ" ng-click="addVariantOrgan(organ,new_variant); save(); new_variant = ''"><i class='glyphicon glyphicon-plus'></i></a>
    </div>
  </div>
</div>
</form>
<div>
  <preview-obj model="organ.data" src="{{'api/data_preview/organ/' + organ.id}}" ng-if="organ.id > 0"></preview-obj>
</div>