<form name="form" auto-save-form="save()">
    <div class="row">
        <h2 class="procedure-header">Procedure {{proc.name}}</h2>
    </div>
    <uib-tabset class="procedure-tabset" justified="true">
        <uib-tab index="1" ng-click="setSaveCameraFalse()">
            <uib-tab-heading>
                <i class="glyphicon"></i>
                View
            </uib-tab-heading>
            <!-- <div ng-if="!activeUser.isAdmin && !activeUser.isArtist && !activeUser.isAuthor" class="div-open-tips"> -->
            <!-- <a ng-show="!urlForTIPS" ng-href="" ng-click="getSceneForTIPS()" class="btn btn-lg btn-primary"> -->
            <!-- Get {{proc.name}} ready for TIPS -->
            <!-- </a> -->
            <!-- <a ng-show="urlForTIPS" href="{{urlForTIPS}} %USERPROFILE%" class="btn btn-lg btn-info">Open {{proc.name}} in TIPS</a> -->
            <!-- </div> -->
            <div class="stages panel-group">
                <div class="stage panel panel-default" ng-repeat="stage in proc.stages">
                    <div class="panel-heading">
                        <div class="panel-title">
                            {{stage.name}}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div>
                            <i>Tasks:</i>
                            <ul>
                                <li class="" ng-repeat="task in stage.tasks">
                                    {{task.verb.name}} &nbsp; {{task.organ}} &nbsp; <i>using</i> &nbsp;
                                    {{task.tool}}&nbsp; <i>{{task.safety_verb}}</i> &nbsp; {{task.safety_organ}}
                                </li>
                            </ul>
                        </div>
                        <div class="video-list">
                            <div ng-repeat="v in stage.youtubeVideos">
                                <!--<a href="https://youtu.be/{{v}}" ><img src="http://img.youtube.com/vi/{{v}}/1.jpg"  width="120" height="90" ></a>-->
                                <iframe class="youtubeFrameView" width="360" height="215" ng-src="{{getIframeSrc(v)}}"
                                    frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="stage-comments">
                            {{stage.comments}}&nbsp -- user {{activeUser.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!activeUser.isAdmin && !activeUser.isArtist && !activeUser.isAuthor" class="div-open-tips">
                <a ng-show="!urlForTIPS" ng-href="" ng-click="getSceneForTIPS()" class="btn btn-lg btn-primary">
                    Get {{proc.name}} ready with current camera setup
                </a>
                <a ng-show="urlForTIPS" href="{{urlForTIPS}} %USERPROFILE%" class="btn btn-lg btn-info">Open
                    {{proc.name}} in TIPS</a>
            </div>
            <a ng-if="!activeUser.isAdmin && !activeUser.isArtist && !activeUser.isAuthor" href=""
                class="btn btn-success btn-lg" ng-click="doneTraining()">Done</a>
            <!--</form>-->
        </uib-tab>
        <uib-tab ng-if="isEditable || activeUser.name == proc.author" index="2" ng-click="setSaveCameraTrue()" active="editMode">
            <uib-tab-heading>
                <span ng-switch="form.$dirty && form.$valid">
                    <i ng-switch-when="true" class="icon-noanimate glyphicon glyphicon-floppy-disk"
                        ng-class="{ 'icon-animate': form.saving }"></i>
                    <i ng-switch-when="false" class="icon-noanimate glyphicon glyphicon-pencil"></i>
                </span>
                Edit
            </uib-tab-heading>
            <form class="form-horizontal procedure row" name="form" auto-save-form="save()">
                <div class="input-lg pull-right">
                </div>
                <div class="alert alert-custom" ng-show="form.procedurename.$error.required">Please enter a name for the
                    procedure</div>
                <div class="form-group row">
                    <label class="col-md-2 control-label input-lg">Procedure name:</label>
                    <div class="col-md-8">
                        <input required="" class="form-control input-lg" style="font-weight: bold" type="text"
                            name="procedurename" placeholder="procedure name" ng-model="proc.name">
                    </div>
                </div>
                <div class='form-group row'>
                    <label class="col-md-2 control-label input-lg">Header file (.scn):</label>
                    <button class="btn btn-secondary" ng-show="!selectExisting" ng-click="toggleHeaderSelection()">
                        Select from Existing
                    </button>
                    <button class="btn btn-primary" ng-show="selectExisting" ng-click="toggleHeaderSelection()">
                        Upload Original File
                    </button>
                    <div class="col-md-8" ng-show="!selectExisting">
                        <input-data-file data="proc.data" download-url="'/api/data/procedure/' + proc.id" upload-url="uploadUrl" refresh-upload-url="refreshUploadUrl()">
                        </input-data-file>
                    </div>
                    <div class="col-md-4" ng-show="selectExisting">
                        <input ng-model="headerToAssign" class="form-control" type="text" placeholder="Header file Name"
                            name="Headerfile-Select"
                            uib-typeahead="headerfile as headerfile.filename for headerfile in headerfileList | filter:$viewValue | limitTo:8"
                            typeahead-min-length="0" data-placement="left" title="Existing Header Files"
                            typeahead-open-on-focus="" autocomplete="off" typeahead-on-select="form.$setDirty()" />
                        <button class="btn btn-primary" ng-click="selectHeader(headerToAssign)">Select</button>
                    </div>
                </div>
                <div class="stages panel-group">
                    <div class="stage panel panel-default" ng-repeat="stage in proc.stages">
                        <div class="panel-heading">
                            <div class="alert alert-custom" ng-show="form['stagename' + stage.id].$error.required">Please
                                enter a name for the stage</div>
                            <div class="panel-title row">
                                <label class="col-md-1 control-label col-md-1">Stage: </label>
                                <div class="col-md-11">
                                    <input required="" class="form-control " style="font-weight: bold" type="text"
                                        name="stagename{{stage.id}}" placeholder="stage name" ng-model="stage.name" />
                                </div>
                                <div class="input col-md-1" style="padding: 5px 10px; text-align: right">
                                </div>
                            </div>
                        </div>
                        <div class="task-list">
                            <div>
                                <div class="task row" ng-repeat="task in stage.tasks">
                                    <div class="alert alert-custom" ng-show="shouldShowErrorsForTask(stage.id, task.id)">
                                        Please specify verb, organ and tool for this task</div>
                                    <!-- form['task'+stageId+taskId]+'verb'].$error.required (stage.id, task.id) -->
                                    <div class="  ">
                                        <div class="col-md-1 col-md-push-11 task-actions" uib-dropdown
                                            on-toggle="toggle(open)">

                                            <a class="icon-action task-action" uib-dropdown-toggle>
                                                <i class="glyphicon glyphicon-option-vertical" data-toggle="tooltip"
                                                    data-placement="top" title="Actions"></i>
                                            </a>

                                            <ul class="uib-dropdown-menu right-align">
                                                <li>
                                                    <a class="" ng-click="removeTask(stage, task); form.$setDirty()"><i
                                                            class="glyphicon glyphicon-remove"></i> Remove task</a>
                                                    <a class="" ng-click="insertTask(stage, task.id)"><i
                                                            class="glyphicon glyphicon-plus"></i><i
                                                            class="glyphicon glyphicon-arrow-up"></i> Insert task before
                                                    </a>
                                                    <a class="" ng-click="insertTask(stage, task.id+1)"><i
                                                            class="glyphicon glyphicon-plus"></i><i
                                                            class="glyphicon glyphicon-arrow-down"></i> Insert task
                                                        after </a>
                                                    <a class="" ng-click="swapTask(stage, task.id, task.id-1)"><i
                                                            class="glyphicon glyphicon-arrow-up"></i> Move up </a>
                                                    <a class="" ng-click="swapTask(stage, task.id, task.id+1)"><i
                                                            class="glyphicon glyphicon-arrow-down"></i> Move down </a>
                                                </li>
                                            </ul>


                                        </div>
                                        <div class="col-md-2 col-md-pull-1">
                                            <input required="" class="form-control" type="text" placeholder="verb"
                                                name="task{{stage.id}}-{{task.id}}verb" ng-model="task.verb"
                                                uib-typeahead="verb as verb.name for verb in autocompleteList | filter:{name:$viewValue} | limitTo:8"
                                                typeahead-min-length="0" data-toggle="tooltip" data-placement="left"
                                                title="Verb" typeahead-open-on-focus=""
                                                typeahead-on-select="form.$setDirty()" />
                                        </div>
                                        <div class="col-md-4 col-md-pull-1">
                                            <input required="" class="form-control  inline-control" type="text"
                                                placeholder="organ" name="task{{stage.id}}-{{task.id}}organ"
                                                ng-model="task.organ"
                                                uib-typeahead="organ.name for organ in task.verb.organs | filter:$viewValue | limitTo:8"
                                                typeahead-min-length="0" data-toggle="tooltip" data-placement="left"
                                                title="Organ" typeahead-open-on-focus=""
                                                typeahead-on-select="form.$setDirty(); getAssociatedOrgans(task);"
                                                ng-disabled="!task.verb" 
                                                ng-change="organChanged()" />
                                        </div>
                                        <div class="col-md-1 col-md-pull-1">
                                            <label class="control-label" style="font-style:italic">using</label>
                                        </div>
                                        <div class="col-md-3 col-md-pull-1">
                                            <input required="" class="form-control inline-control input " type="text"
                                                placeholder="tool" name="task{{stage.id}}-{{task.id}}tool"
                                                ng-model="task.tool"
                                                uib-typeahead="tool.name for tool in task.verb.tools | filter:$viewValue | limitTo:8"
                                                typeahead-min-length="0" data-toggle="tooltip" data-placement="left"
                                                title="Surgical tool" typeahead-open-on-focus=""
                                                typeahead-on-select="form.$setDirty(); getAssociatedTools(task);"
                                                ng-disabled="!task.verb" />
                                        </div>

                                        <div class="task 2nd row">
                                            <div class="col-md-1">
                                                <label class="control-label">Organ Variations:</label>
                                            </div>
                                            <div class="col-md-2" ng-disabled="!task.organ">
                                                <select class="form-control inline-control input"
                                                    name="task{{stage.id}}-{{task.id}}orgVariation"
                                                    data-toggle="tooltip" data-placement="left" title=""
                                                    ng-model="task.orgVariation" ng-disabled="!task.orgVariations">
                                                    <option value=""></option>
                                                    <option ng-repeat="org in task.orgVariations.organs"
                                                        value="{{org}}">{{org}}</option>
                                                </select>
                                                <button ng-if="task.orgVariation && task.orgVariation != ''"
                                                    class="btn btn-primary"
                                                    ng-click="task.organ = task.orgVariation; task.orgVariation = null; save();">Set
                                                    as Organ</button>
                                                <button ng-disabled="!task.orgVariations"
                                                    ng-if="!task.orgVariation || task.orgVariation == ''"
                                                    class="btn btn-primary"
                                                    ng-click="selectRandomOrgVariation(task)">Select Random</button>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label">Tool Variations:</label>
                                            </div>
                                            <div class="col-md-2" ng-disabled="!task.organ">
                                                <select class="form-control inline-control input"
                                                    name="task{{stage.id}}-{{task.id}}toolVariation"
                                                    data-toggle="tooltip" data-placement="left" title=""
                                                    ng-model="task.toolVariation" ng-disabled="!task.toolVariations">
                                                    <option value=""></option>
                                                    <option ng-repeat="tool in task.toolVariations.tools"
                                                        value="{{tool}}">{{tool}}</option>
                                                </select>
                                                <button ng-if="task.toolVariation && task.toolVariation != ''"
                                                    class="btn btn-primary"
                                                    ng-click="task.tool = task.toolVariation; task.toolVariation = null; save();">Set
                                                    as Tool</button>
                                                <button ng-disabled="!task.toolVariations"
                                                    ng-if="!task.toolVariation || task.toolVariation == ''"
                                                    class="btn btn-primary"
                                                    ng-click="selectRandomToolVariation(task)">Select Random</button>
                                            </div>
                                            <!-- <div class="col-md-2"> -->
                                            <!-- <label class="control-label" style="font-style:italic">(optional safety concerns) </label> -->
                                            <!-- </div> -->
                                            <div class="col-md-4 col-md-push-1">
                                                <!-- <label class="control-label" style="font-style:normal">not</label> -->
                                                <select class="form-control inline-control" name="singleSelect"
                                                    ng-model="task.safety_verb" ng-change="enable_safety(stage, task)">
                                                    <option value="" disabled style="color:gray"> select safety options
                                                        below:</option>
                                                    <option value="" selected> </option>
                                                    <option value="not too close to"> not too close to </option>
                                                    <option value="not overstreching"> not overstreching </option>
                                                    <!-- <option value="" selected="selected" ng-click="disable_safety(stage, task)" style="color:lightgray">optional safety concerns</option>  -->
                                                </select>
                                            </div>
                                            <!-- id="task{{stage.id}}-{{task.id}}safety" -->
                                            <div class="col-md-4 col-md-push-1">
                                                <input id="task{{stage.id}}-{{task.id}}safety" disabled
                                                    class="form-control  inline-control" type="text"
                                                    placeholder="Safety Organ" name="task{{stage.id}}-{{task.id}}safety"
                                                    ng-model="task.safety_organ"
                                                    uib-typeahead="organ.name for organ in safetyOrganList | filter:$viewValue | limitTo:8"
                                                    />
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="video-list">
                            <div ng-repeat="v in stage.youtubeVideos">
                                <iframe class="youtubeFrameView" width="360" height="215" ng-src="{{getIframeSrc(v)}}" frameborder="0">

                                </iframe>
                                <div class="input " style="text-align: left; padding: 5px 10px">
                                    <a class="icon-action" ng-click="editVideo(stage, v)">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                        Edit video
                                    </a>
                                    <a class="icon-action" ng-click="deleteVideo(stage, v); form.$setDirty()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        Delete video
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="stage-comments" ng-if="stage.comments">
                            {{stage.comments}}&nbsp -- user {{activeUser.name}}
                        </div>
                        <div class="panel-footer">
                            <div class="input " style="text-align: right; padding: 5px 10px">
                                <a class="icon-action" ng-click="addVideo(stage)">
                                    <i class="glyphicon glyphicon-film"></i>
                                    Add video
                                </a>
                                <a class="icon-action" ng-click="stage.tasks.push({id: stage.tasks.length})">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    Add task
                                </a>
                                <a class="icon-action" ng-click="removeStage(stage); form.$setDirty()">
                                    <i class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top"
                                        title="Remove stage"></i> Remove stage
                                </a>
                                <a class="icon-action" ng-click="addComments(stage)">
                                    <i class="glyphicon glyphicon-edit"></i> Add Comments
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-lg pull-right">
                            <a class="icon-action" ng-click="proc.stages.push({id: proc.stages.length, tasks:[]})">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add stage
                            </a>
                        </div>
                    </div>

                </div>

                <hr style="clear: both" />
                <!--<div class="panel-title">Trocar placement for the camera</div>
                  <div class="panel-body" style="text-align: center">
                    <div class="trocar-placement-image">
                      <div class="trocar-marker" style="left: {{proc.cameraTrocar.x * 100}}% ; top: {{proc.cameraTrocar.y * 100}}% "></div>
                      <img src="assets/male-human-torso.png" ng-click="setTrocarPlacement($event)" >
                    </div>
                  </div>-->
                <div class="quiz panel-group">
                    <!-- <select class="quiz-select" id="quiz-select" ng-model="proc.quiz">
                      <option class="quiz-select-option" value="">Select quiz associated with the procedure</option>
                      <option class="quiz-select-option" value="Appendectomy Quiz-https://www.surveymonkey.com/r/CDYVPMX">Appendectomy Quiz</option>
                      <option class="quiz-select-option" value="Cholecystectomy Quiz-https://www.surveymonkey.com/r/CDJ7HZL">Cholecystectomy Quiz</option>
                    </select> -->

                    <div class="btn-group" uib-dropdown>
                        <button id="quiz-select" type="button" class="btn btn-primary" uib-dropdown-toggle
                            ng-disabled="disabled">
                            {{quizSelectButton}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="quiz-select">
                            <li role="menuitem" ng-repeat="quiz in quizzes">
                                <a href="" ng-click="selectQuiz(quiz)">
                                    {{quiz.name}}
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </form>

        </uib-tab>

        <uib-tab ng-if="isEditable || activeUser.name==proc.author " index="3" select="getGenStatus()">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-download-alt"></i>
                Generate Scene
            </uib-tab-heading>
            <div class="row">
                <h4>Organs</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required verbs</th>
                            <th>Candidate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="organ in genstatus.organs"
                            class="{{ organ.candidate == null ? 'warning' : '' }}">
                            <td>{{organ.name}}</td>
                            <td>{{organ.verbs}}</td>
                            <td><a href="#/organs/{{organ.candidate.id}}">{{organ.candidate.name}}</a></td>
                        </tr>
                    </tbody>
                </table>
                <h4>Tools</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required verbs</th>
                            <th>Candidate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tool in genstatus.tools" class="{{ tool.candidate == null ? 'warning' : '' }}">
                            <td>{{tool.name}}</td>
                            <td>{{tool.verbs}}</td>
                            <td><a href="#/tools/{{tool.candidate.id}}">{{tool.candidate.name}}</a></td>
                        </tr>
                    </tbody>
                </table>

                <!-- <div class="panel panel-default"> -->
                <!-- <div class="panel-heading"> -->
                <!-- <div class="panel-title">Scene preview</div> -->
                <!-- </div> -->
                <!-- <div class="panel-body"> -->
                <!-- <preview-obj model="organ.data" src="{{'/api/genpreview/' + proc.id}}" ng-if="proc.id > 0"></preview-obj> -->
                <!-- </div> -->
                <!-- </div> -->

                <div class="alert alert-warning" ng-show="genstatus.generatable==0 && genstatus.organ_name==null && genstatus.variant_name==null">
                    Failed to generate a SOFA scene for this procedure. Does it have a name? If there are missing
                    organs/tools, they should be highlighted.
                </div>
                <div class="alert alert-warning" ng-show="genstatus.generatable==2 && genstatus.organ_name!=null && genstatus.variant_name!=null">
                    You have used two different variant of same organ in this procedure. Please use either {{genstatus.organ_name}} or {{genstatus.variant_name}}.
                </div>
                <div class="alert alert-warning" ng-show="genstatus.generatable==3 && genstatus.organ_name!=null && genstatus.variant_name!=null">
                    A variant organ of {{genstatus.organ_name}} is defined as a connected organ of {{genstatus.variant_name}}.
                </div>
                <!-- href="/api/genscene/{{proc.id}}/{{camerapos()}}/{{cameraorientation()}}" -->
                <a ng-show="genstatus.generatable==1" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                    title="Download SOFA Scene"
                    href="/api/genscene/{{proc.id}}/{{proc.cameraSetup.position}}/{{proc.cameraSetup.quaternion}}/{{proc.cameraSetup.initInfo}}">
                    <i class="glyphicon glyphicon-download-alt"></i>
                    Download SOFA Scene with current camera setup
                </a>
            </div>

        </uib-tab>

        <div class="panel panel-default" ng-if="isEditable || activeUser.name==proc.author">
            <div class="panel-heading">
                <div class="panel-title">Scene preview (camera setup)</div>
            </div>
            <div class="panel-body">
                <preview-obj model="organ.data" src="{{'/api/genpreview/' + proc.id}}" init={{proc.cameraSetup.initInfo}} ng-if="proc.id > 0"
                    ng-mouseup="setCameraByUser(proc)"></preview-obj>
                    <!-- TODO: ng-mouseup is not enough, should include wheel event as well. -->
            </div>

            <!-- hide the camera setup info for now -->
            <!-- <table class="table" ng-if="activeUser.isAdmin"> 
            <thead>
                <tr><th>Current Camera Setup : </th></tr>
            </thead>
            <tr>
                <th>Position : {{proc.cameraSetup.position}}</th>
                <th>Orientation : {{proc.cameraSetup.quaternion}}</th>
                <th>Init Info : {{proc.cameraSetup.initInfo}}</th>
            </tr>
            </table> -->

        </div>

    </uib-tabset>
</form>