<div class="row" ng-if="displayQuizzes">
  <div class="row">
    <div class="h2 col-md-2">
       Quizzes
    </div>
  </div>
  <div class='pull-right input-lg ' ng-if="isEditable">
   <a class="icon-action" data-toggle="tooltip" data-placement="top"
      href="{{viewURL}}new"
        title="Create {{Model}}">
      <i class="glyphicon glyphicon-plus"></i> Create {{Model}}
   </a>
  </div>
  <div class='list-group'>
    <button class='list-group-item' ng-repeat="quiz in quizzes" >
      <a href="{{quiz.url}}" target="_blank">{{quiz.name}}</a>
      <div ng-if="isEditable" class="pull-right">
        <span>
         <a class='icon-action' ng-click="remove($event, quiz.id, quiz.name)"><span class='glyphicon glyphicon-remove'></span>&nbsp;</a>
        </span>
      </div>
    </button>
  </div>
  <!--<div class="row">
    <h3>
        Feedback
    </h3>
  </div>

  <p>
    <a href="https://www.surveymonkey.com/r/C9G39QX" target="_blank" class="btn btn-primary">Take the pre-use survey!</a>
  </p>

  <p>
    <a href="https://www.surveymonkey.com/r/CD8P28N" target="_blank" class="btn btn-primary">Take the post-use survey!</a>
  </p>

  <div class="row">
    <h3>
        Procedure Quizzes
    </h3>
  </div>

  <p>
    <a href="https://www.surveymonkey.com/r/CDYVPMX" target="_blank" class="btn btn-primary">Take the Appendectomy quiz!</a>
  </p>

  <p>
    <a href="https://www.surveymonkey.com/r/CDJ7HZL" target="_blank" class="btn btn-primary">Take the Cholecystectomy quiz!</a>
  </p>-->

</div>



<form name="form" auto-save-form="save()" ng-if="!displayQuizzes">
  <div class="pull-right">
    <a class="icon-action input-lg" data-toggle="tooltip" data-placement="top" title="Save" ng-click="save()" ng-show="form.$dirty && form.$valid">
      <i class=" glyphicon glyphicon-floppy-disk" ng-class="{ 'icon-animate': form.saving }"></i>
    </a>
  </div>
  <div class="form-group {{form.name.$error.required ? 'has-error' : ''}}">
    <label for="name">Name of the quiz</label>
    <input type="text" class='form-control' name="name" ng-model="quiz.name" placeholder="Quiz Name" required="" ng-disabled="!isEditable" />
  </div>
  <div class="form-group {{form.name.$error.required ? 'has-error' : ''}}">
    <label for="name">Quiz URL</label>
    <input type="text" class='form-control' name="name" ng-model="quiz.url" placeholder="Quiz URL" required="" ng-disabled="!isEditable"/>
  </div>
  <a href="#/quizzes" class="btn btn-success btn-lg">Done</a>
</form>
