<form name="form" auto-save-form="save()">
<div class="row">
  <h2>
      Tool {{tool.name}}
  </h2>
</div>
  <div class="pull-right">
    <a class="icon-action input-lg" data-toggle="tooltip" data-placement="top" title="Save" ng-click="save()" ng-show="form.$dirty && form.$valid">
      <i class=" glyphicon glyphicon-floppy-disk" ng-class="{ 'icon-animate': form.saving }"></i>

    </a>
  </div>
<div class='form-group'>
  <label for="name">Name of the model</label>
  <input type="text" class='form-control' name="name" ng-model="tool.name" placeholder="tool name" ng-disabled="!isEditable"/>
</div>
<!-- <div class='form-group'>
  <label for="file">Data file</label>
  <input-data-file data="tool.data" download-url="'/api/data/tool/' + tool.id" upload-url="uploadUrl" refresh-upload-url="refreshUploadUrl()" is-disabled="!isEditable"></input-data-file>
</div> -->
<div class='form-group'>
  <label for="verbs">Comma-separated list of supported verbs:</label>
  <input type="text" class='form-control' name="verbs" ng-model="tool.csvVerbs" ng-model-options="{ getterSetter: true }" placeholder="verbs" ng-disabled="!isEditable"/>
</div>
</form>

<div>
  <preview-obj model="tool.data" src="{{'api/data_preview/tool/' + tool.id}}" ng-if="tool.id > 0"></preview-obj>
</div>
