<div class="row">
  <h2>
      Training
  </h2>
</div>

<div class="row">
  <h5>
      1. Pre-use survey
  </h5>
  <h6>
      Please take the pre-use survey <a href="https://www.surveymonkey.com/r/C9G39QX" target="_blank">here</a>.
  </h6>
</div>

<div class="row">
  <h5>
      2. Procedure
  </h5>
  <h6>
      Please select a procedure to train on.
  </h6>
  <div class="btn-group" uib-dropdown>
    <button id="procedure-select" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      {{procedureSelectButton}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="procedure-select">
      <li role="menuitem" ng-repeat="p in list" ng-show="p.name == 'Appendectomy' || p.name == 'Cholecystectomy' ">
        <a href="" ng-click="selectProcedure(p.id, p.name, p.quiz)">
          {{p.name}}&nbsp;&#8212;&nbsp;<i>{{p.author}}{{p.verbs}}</i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <h5>
      3. Pre-Training Procedure Quiz
  </h5>
  <h6>
      Please take the {{quizName}} for the {{selectedProcedureName}} procedure <a href="{{quizUrl}}" target="_blank">here</a>.
  </h6>
</div>

<div class="row">
  <h5>4. Train using simulation</h5>
  <a ng-if="selectProcedureId" href="#/procedures/{{selectProcedureId}}" target="_blank" class="btn btn-success btn-lg">{{selectedProcedureName}}</a>
</div>

<div class="row">
  <h5>
      5. Post-Training Procedure Quiz
  </h5>
  <h6>
      Please take the {{quizName}} again for the {{selectedProcedureName}} procedure <a href="{{quizUrl}}" target="_blank">here</a>.
  </h6>
</div>

<div class="row">
  <h5>
      6. Post-use survey
  </h5>
  <h6>
      Please take the post-use survey <a href="https://www.surveymonkey.com/r/CD8P28N" target="_blank">here</a>.
  </h6>
</div>