<form name="form" auto-save-form="save()">
<div class="row">
  <h2>
      User {{user.name}}
  </h2>
</div>
<div class="pull-right">
  <a class="icon-action input-lg" data-toggle="tooltip" data-placement="top" title="Save" ng-click="save()" ng-show="form.$dirty && form.$valid">
    <i class=" glyphicon glyphicon-floppy-disk" ng-class="{ 'icon-animate': form.saving }"></i>
  </a>
</div>
<div class="form-group {{form.name.$error.required ? 'has-error' : ''}}">
  <label for="name">Username</label>
  <input type="text" class='form-control' name="name" ng-model="user.name" placeholder="user name" ng-disabled="!isEditable || user.name=='surflab.cise'"/>
</div>
<div class='form-group' ng-if="isEditable">
  <label for="roles">Roles</label><br>
  <input type="checkbox" ng-model="user.isAuthor" ng-checked="user.isAdmin || user.isAuthor" ng-disabled="user.isAdmin"/>Author<br>
  <input type="checkbox" ng-model="user.isArtist" ng-checked="user.isAdmin || user.isArtist" ng-disabled="user.isAdmin"/>Artist<br>
  <input type="checkbox" ng-model="user.isAdmin" ng-checked="user.isAdmin" ng-disabled="user.name=='surflab.cise'"/>Administrator
</div>
