<div class="modal-header">
    <h3 class="modal-title" ng-show="!videoEditFlag">Add Video</h3>
    <h3 class="modal-title" ng-show="videoEditFlag">Edit Video</h3>
</div>
<div class="modal-body">
    <div class="form-group">
      <label class="control-label input-md" ng-show="!videoEditFlag">
            Paste YouTube URL here:
      </label>
      <label class="control-label input-md" ng-show="videoEditFlag">
        YouTube Video URL
      </label>
      <input class="form-control input-lg" type="text" name="youtube-url"  ng-readonly="videoEditFlag" placeholder="https://youtu.be/..." ng-model="youtubeURL" ng-model-options="{ getterSetter: true }">
      <br />
      <label class="control-label input-md">
        Start time:
      </label>
      <input class="form-control input-md" type="text" name="youtube-url-start-time" placeholder="0:00" ng-model="youtubeURLStartTime" ng-model-options="{ getterSetter: true }">
      <br />
      <label>
        End time:
      </label>
      <input class="form-control input-md" type="text" name="youtube-url-end-time" placeholder="0:00" ng-model="youtubeURLEndTime" ng-model-options="{ getterSetter: true }">
    </div>
    
    <iframe id="youtubeFrame"  width="560" height="315" frameborder="0" ></iframe>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-show="youtubeID" type="button" ng-click="add()" >Add Video</button>
    <button class="btn btn-primary" ng-show="videoEditFlag" type="button" ng-click="edit()" >Save Changes</button>
    <button class="btn btn-default" type="button" ng-click="close()">Done</button>
</div>
