
.procedure-tabset ul.nav-tabs {
  margin-top: 3em;
  float: right;
}

.procedure-header {
  float: left;
}

.procedure-tabset .tab-content {
  padding-top: .5em;
  padding-bottom: 1.0em;
  clear: both;
}

.control-label.input-lg {
  margin-top: 0.3em;
  font-style: italic;
}

.ng-invalid.form-control.ng-touched {
  box-shadow: inset 0 -2px 0 #e51c23;
}

.task {
  padding: 0.3em 0.3em;
  margin: 0 0;
}

.task-list {
  padding: 0.2em 0em;
}

.dropdown-menu.right-align {
    right: 0;
    left: auto;
}

.task:nth-of-type(even){ background-color: #f2f2f8; }

.inline-control {
    display: inline-block;
    margin-bottom: 1px;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.inline-control[readonly] {
    background-color: transparent;
    cursor: auto;
}

li .form-group {
    margin: -5px 0;
}

li .inline-control {
}

.readonly .edit-action {
    display: none;
}

.icon-action {
    color: gray;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 0.1em 0.5em;
}

.icon-action:active {
    /* Add some feedback so that mobile users know the button has been clicked */
    background-color: rgba(0,0,0,.1);
    color: black;
}

.icon-action, .tooltip {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.icon-action:hover {
    color: black;
    text-decoration: none;
}

.task-actions {
    padding: 0;
    text-align: right;
}

.task-action {
    display: inline-block;
    margin: 0.2em 0.0em;
    margin-bottom: 0;
    font-size: 130%;
}

#procedure-container .error {
    display: none;
    font-weight: bold;
    padding: 5px 0px;
    color: #CC0000;
}

a.userbox {
  color:gray !important;
  border-color: transparent !important;
}

#loading {
  display: none;position: absolute; z-index: 100000;

  width: 100%; left: 0;
  /*

  padding: 30%; top: 0; height:100%; opacity:0.6; background-color:#eeeeee; */

}

.icon-animate {
  display: inline-block;
  animation: pulse 0.5s infinite;
}

.icon-noanimate {
  display: inline-block;
  margin: 0;
}

@keyframes pulse {
  0% {
    margin: 0;
    font-size: 100%;
  }
  70% {
    margin: 0.15em;
    font-size: 80%;
  }
  100% {
    margin: 0;
    font-size: 100%;
  }
}
.trocar-placement-image {
  display: inline-block; position: relative; cursor: crosshair;
}
.trocar-marker {
  position: absolute;  border: 2px dashed red; width: 20px; height: 20px;
  top: 50%; left: 50%;
  border-radius: 10px; margin-top: -10px; margin-left: -10px;
}

.color-admin {
  color: red;
}
.color-artist {
  color: limegreen;
}
.color-author {
  color: blue;
}
.color-spec {
  color: gray;
}

#c{
  width:100%;
}

.div-open-tips {
  margin-top: -1.2em;
  padding-bottom: 1em;
}

.quiz .quiz-select {
  padding: 1em;
  background-color: #2196f3;
  color: #fff;
  border-radius: 0.2em;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.quiz .quiz-select .quiz-select-option {
  padding: 1em;
  background-color: #fff;
  color: #000;
}

.alert-custom{
  background-color:#faebcc;
  color:#8a6d3b;
}