.spinner {
    display: inline-block;
    border-width: 1px;
    border-radius: 50%;
    border-style: solid;
    border-color: blue blue blue transparent;
    width: 1em;
    height: 1em;
}

.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}